body {
    font-family: Arial, Helvetica, sans-serif
}
main {
    margin-bottom: 0px;
}
header {
    width: 470px;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 3;
}
.container-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 470px;
    height: 37px;
    margin: auto;
    background-color: white;
}


.h1-navbar {
    display: flex;
    align-items: center;
}

.icones-navbar > span {
    margin-left: 20px;
}

.instagram-perfil {
    width: 474px;
    height: 875px;
    margin: auto;
}

.parte1 > div > img {
    border-radius: 100%;
    height: 104px;
    width: 104px;
    position: absolute;
    border: 1px solid rgb(0, 236, 20);
    overflow: hidden;
    padding: 1.5px;
    
}

#buttonPerfil {
    background-color: #1A75FF;
    color: white;
    border-radius: 100%;
    font-size: 15px;
    position: relative;
    top: 80px;
    left: 85px;
    z-index: 2;
}

.parte1 {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.dadosParte1{
    display: flex;
    width: 265px;
    justify-content: space-around;
    margin-top: 2px;
    margin-left: 80px;
}

.perfilnome {
    margin-left: 30px;
  
}

.dadosParte1 > div {
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttonPerfil {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 14px;
    margin-top: 0%;
}

.editarPerfil{
    display: flex;
    border-radius: 10px;
    margin-right: 5px;
    background-color: #D9D9D9;
    width: 190px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.compartilharPerfil{
    display: flex;
    border-radius: 10px;
    margin-right: 5px;
    background-color: #D9D9D9;
    width: 190px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.buttonNada {
    background-color: #D9D9D9;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.partedestaques {
    display: flex;
    width: 450px;
    height: 150px;
    margin-top: 20px;
    margin-left: 25px;
    overflow: auto;
    scroll-snap-type: x mandatory;
    overflow-x: visible;
    
}
.partedestaques > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-right: 20px;   
}

.partedestaques > div > img {
    border-radius: 100%;
    height: 78px;
    width: 78px;  
    margin-top: 30px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: auto;
}

::-webkit-scrollbar {
    display: none;
}

.buttonSeçoes {
    width: 340px;
    height: 24px;
    margin: auto;
}

.ButtonNavegation > div > img{
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
}

.ButtonNavegation > div > i {
    width: 24px;
    height: 24px;
}

.buttonSeçoes > div {
    display: flex;
    justify-content: space-around;

}

.gradePhotos {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4px;
}

.gradePhotos > img{
    width: 155px;
    height: 155px;
    margin: 0.5px;
}

footer {
    position: sticky;
    bottom: 0;
    background-color: white;
    margin: auto;
    width: 469px;
    height: 68px;
}

footer > div{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.footerdiv > div > img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
}


/*falta todos os buttons*/